body {
  font-family: 'Open Sans';
  font-size: 28px;
  background-color: #fcfcfc;
}

.border {
  position: absolute;
  top: 20%;
  left: 13.5%;
  width: 73%;
  bottom: 25%;
  background-color: inherit;
}

#doruk {
  font-size: 70px;
  color: #8E8E8E;
}

#u {
  color: #B71B1B;
  background-color: transparent;
  border-radius: 2px;
}

#doruk:hover #u {
    color: #eaeaea;
    background-color: #B71B1B;
    -webkit-animation: fade 0.7s;
    animation: fade 0.7s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes fade {
  0% {color: #B71B1B; background-color: white;}
  100% {color: #eaeaea; background-color: #B71B1B;}
}
@keyframes fade {
  0% {color: #B71B1B; background-color: white;}
  100% {color: #eaeaea; background-color: #B71B1B;}
}

.box {
  position: relative;
  top: 77px;
  left: 50%;
  color: #ADADAD;
  width: 920px;
  transform: translateX(-50%);
}

.box-link {
  margin-bottom: 10px;
  position: relative;
  text-decoration: none;
  top: 77px;
  color: #ADADAD;
  left: 12px;
}

.box-header {
  margin-bottom: 10px;
  position: relative;
  text-decoration: none;
  color: #ADADAD;
}

#link1 {
  text-decoration: none;
  color: #ADADAD;
}
#link1:visited {
    margin-bottom: inherit;
    color: inherit;
    text-decoration: none;
    text-decoration: inherit;
}
#link1:hover{
    color: #fea3aa;
    -webkit-animation: fade1 0.3s;
    animation: fade1 0.3s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
@-webkit-keyframes fade1 {
  0% {color: #ADADAD;}
  100% {color: #fea3aa;}
}
@keyframes fade1 {
  0% {color: #ADADAD;}
  100% {color: #fea3aa;}
}

#link2 {
    text-decoration: none;
    color: #ADADAD;
}
#link2:visited {
    margin-bottom: inherit;
    color: inherit;
    text-decoration: none;
    text-decoration: inherit;
}
#link2:hover{
    color: #b2cefe;
    -webkit-animation: fade2 0.3s;
    animation: fade2 0.3s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
@-webkit-keyframes fade2 {
  0% {color: #ADADAD;}
  100% {color: #b2cefe;}
}
@keyframes fade2 {
  0% {color: #ADADAD;}
  100% {color: #b2cefe;}
}

#link3 {
    text-decoration: none;
    color: #ADADAD;
}
#link3:visited {
    margin-bottom: inherit;
    color: inherit;
    text-decoration: none;
    text-decoration: inherit;
}
#link3:hover{
    color: #f8b88b;
    -webkit-animation: fade3 0.3s;
    animation: fade3 0.3s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
@-webkit-keyframes fade3 {
  0% {color: #ADADAD;}
  100% {color: #f8b88b;}
}
@keyframes fade3 {
  0% {color: #ADADAD;}
  100% {color: #f8b88b;}
}

#link4 {
    text-decoration: none;
    color: #ADADAD;
}
#link4:visited {
    margin-bottom: inherit;
    color: inherit;
    text-decoration: none;
    text-decoration: inherit;
}
#link4:hover{
    color: #baed91;
    -webkit-animation: fade4 0.3s;
    animation: fade4 0.3s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
@-webkit-keyframes fade4 {
  0% {color: #ADADAD;}
  100% {color: #baed91;}
}
@keyframes fade4 {
  0% {color: #ADADAD;}
  100% {color: #baed91;}
}

.proj {
    position: relative;
    background-color: #f2f2f2;
    width: 95%;
    left: 0%;
    border-color: #d1d1d1;
    border-radius: 10px;
    border-width: 2px;
    border-right-style: solid;
    border-bottom-style: solid;
}

#button {
    position: absolute;
    text-decoration: none;
    color: #fcfcfc;
    bottom: 1%;
    width: 100px;
    background-color: #7aa4e8;
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
}

#button:hover {
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  background-color: #7098d8;
}

#button:active {
  bottom: 0.5%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #678cc6;
}
