/* GENERAL */
.final-score {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 520px;
  color: #555;
  font-size: 18px;
  font-family: 'Lato';
  text-align: center;
  padding: 10px;
  width: 160px;
  text-transform: uppercase;
}

.final-score:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Lato;
  font-weight: 300;
  position: relative;
  height: 100vh;
  color: #555;
}

.wrapper {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 600px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

@media only screen and (max-width: 1030px) {
  .wrapper {
    width: 100%;
  }
}

@media only screen and (max-height: 600px) {
  .wrapper {
    transform: translate(-50%);
    top: 0%;
  }
}

.background-image {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(rgba(255, 152, 68, 0.4), rgba(118, 219, 242, 0.4)), url("../Portfolio/mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.player-0-panel,
.player-1-panel {
  width: 50%;
  float: left;
  height: 600px;
  padding-top: 100px;
  padding-right: 10%;
  padding-bottom: 100px;
  padding-left: 10%;
}
/* END OF GENERAL */

/* PLAYERS */
.player-name {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.player-score {
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  color: #EB4D4D;
  margin-bottom: 130px;
}

.active {
  background-color: #f7f7f7;
}

.active .player-name {
  font-weight: 300;
}

.active .player-name::after {
  content: "\2022";
  font-size: 47px;
  position: relative;
  color: #EB4D4D;
  top: 0px;
  right:0px;
}

.player-current-box {
  background-color: #EB4D4D;
  color: #fff;
  width: 40%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

.player-current-label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  color: #222;
}

.player-current-score {
  font-size: 30px;
}

button {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: #555;
  background: none;
  border: none;
  font-family: Lato;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  font-weight: 600;
}

button:hover i {
  margin-right: 20px;
}

button:focus {
  outline: none;
}

i {
  color: #EB4D4D;
  display: inline-block;
  margin-right: 15px;
  font-size: 32px;
  line-height: 1;
  vertical-align: text-top;
  margin-top: -4px;
  transition: margin 0.3s;
}

@media only screen and (max-width: 1030px) {
  .player-name {
    font-size: 4vw;
  }
  .active .player-name::after {
    font-size: 5vw;
  }
  .player-current-box {
    width: 90px;
  }
  button {
    font-size: 2vw;
  }
  i {
    font-size: 3vw;
    margin-right: 1vw;
  }
}

.btn-new {
  top: 65px;
}

.btn-roll {
  top: 403px;
}

.btn-hold {
  top: 467px;
}

#dice-1 {
  top: 120px;
}
#dice-2 {
  top: 250px;
}

.dice {
  position: absolute;
  left: 50%;
  top: 178px;
  transform: translateX(-50%);
  height: 100px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

@media only screen and (max-width: 600px) {
  .dice {
    height: 17vw;
  }
  .final-score {
    width: 25vw;
    font-size: 3vw;
  }
}

.winner {
  background-color: #f7f7f7;
}

.winner .player-name {
  font-weight: 300; color: #EB4D4D;
}
/* END OF PLAYERS */
