body {
    font-family: 'Nunito', sans-serif;
    background-color: white;
}

.button {
    position: relative;
    color: black;
    background-color: white;
    border-radius: 2px;
    padding: 7px;
    width: 100px;
    float: left;
}

.button:hover {
    color: white;
    box-shadow: 0 4px 2px rgba(255, 255, 255, 0.3);
    background-color: #8B1001;
}

.button:active {
    color: grey;
}

#button1 {
    position: fixed;
    bottom: 0%;
    left: 0%;
    font-size: 25px;
}

#button2 {
    position: fixed;
    bottom: 0%;
    right: 0%;
    font-size: 25px;
}

#box {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#question {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

#corans {
    position: relative;
    float: left;
}

#current {
    display: block;
    float: right;
    margin-left: 5px;
}

#solved {
    position: relative;
    width: 96%;
    height: 15px;
    font-size: 15px;
    color: white;
    background-color: red;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
    margin-bottom: 10px;
}
