body {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    background-color: #888888;
}

#myCanvas, #original {
    background-color: black;
    left: 50%;
    position: relative;
    min-width: 300px;
    max-width: 800px;
    transform: translateX(-50%);
}

#box {
    position: absolute;
    left: 10px;
    width: 800px;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 3px solid rgb(0, 126, 0);
    background-color: #e6e6e6;
    color: #444;
}

input[type=url] {
    width: 300px;
    font-size: 12px;
    margin: 8px 0;
    display: inline-block;
    margin-bottom: 1px;
}

h, h1, h2, h3 {
    display:inline-block;
    margin-top: 25px;
    margin-bottom: 10px;
}

#button {
    text-decoration: none;
    color: #eaeaea;
    width: 100px;
    background: rgb(0, 126, 0);
    margin: 5px;
    padding: 3px;
    border-radius: 8px;
    font-size: 14px;
}
  
#button:hover {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    background-color: rgb(0, 85, 0);
}
  
#button:active {
    bottom: 0.5%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    background-color: rgb(0, 85, 0);
}